.home {
  display: grid;
  grid-template-columns: 23% auto 23%;
  height:94vh;
  font-family: roboto;
}

.mainDiv {
  height: 100%;
  text-align: center;
}

body {
  margin: 0 !important;
}

.header {
  height: 5vh;
  flexGrow: 1;
  textAlign: 'center';
}

.title {
  margin-top: 5px;
}
.align {
  text-align: center;
}

.rightBorder {
  border-right: 1px solid black;
}

.leftView {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.leftViewBottom {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: span 2;
}

.view {
  height: 100%;
  display: grid;
  grid-template-rows: auto 25%;
  margin: 1vw 1vh;
}